header {
  height: 7.2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2025;
  @include flex-center;
  z-index: 2025;
  transition: all 0.3s ease;
  &.fixed {
    background-color: $primary-blue-02;
    height: 7.5rem;
    .container {
      .logo {
        width: 13.4rem;
        img {
          content: url("/logo-white.svg");
        }
      }
      nav {
        ul {
          li {
            a {
              color: rgba(255, 255, 255, 0.65);
              &::after {
                background-color: $secondary-gray-04;
              }
              &.active,
              &:hover {
                color: rgba(255, 255, 255, 1);
              }
            }
          }
        }
        .btn-secondary {
          border: 1px solid $secondary-gray-04;
          color: $secondary-gray-04;
          &:hover {
            background-color: $secondary-gray-04;
            color: $primary-blue-02;
          }
        }
      }
    }
    .aside-menu {
      background-color: $primary-blue-02;
      nav {
        .links-menu {
          li {
            a {
              color: rgba(255, 255, 255, 0.65);
            }
          }
        }
        .btn-secondary {
          border: 1px solid $secondary-gray-04;
          color: $secondary-gray-04;
          &:hover {
            background-color: $secondary-gray-04;
            color: $primary-blue-02;
          }
        }
      }
      .socials {
        li {
          a {
            i {
              color: $secondary-gray-04;
            }
          }
        }
      }
    }
  }
  .container {
    @include flex(row, center, space-between);
    nav {
      flex: 1;
      max-width: 73.1rem;
      @include flexCenterJustify;
      ul {
        @include flex-center;
        gap: 3.2rem;
        li {
          a {
            position: relative;
            font-size: 1.6rem;
            transition: all 0.3s ease;
            color: rgba($color: $primary-blue-02, $alpha: 0.7);
            &::after {
              content: "";
              width: 0px;
              height: 2px;
              background: $primary-blue-02;
              position: absolute;
              bottom: -2.4rem;
              left: 0;
              transition: 0.3s ease;
            }
            &.active,
            &:hover {
              color: rgba($color: $primary-blue-02, $alpha: 1);
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .btn-menu {
      display: none;
      width: 40px;
      height: 40px;
      position: relative;
      &.active {
        .btn-mobile-inner {
          border-top-color: transparent;
          &::after,
          &::before {
            margin-top: 0;
          }

          &::after {
            top: -0.2rem;
            transform: rotate(45deg);
          }
          &::before {
            top: 0rem;
            transform: rotate(135deg);
          }
        }
      }
      .btn-mobile-inner {
        width: 100%;
        display: block;
        height: auto;
        border-top: 2px solid;
        cursor: pointer;
        color: $primary-blue-02;
        &::after,
        &::before {
          content: "";
          display: block;
          height: 0.2rem;
          margin-top: 0.9rem;
          background: currentColor;
          transition: transform 0.2s ease;
          position: relative;
        }
      }
    }
  }
  .aside-menu {
    position: absolute;
    top: 7.4rem;
    width: 100%;
    height: calc(100vh - 7.4rem);
    background-color: $primary-blue-03;
    padding: 7rem 1.5rem;
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    z-index: 2025;
    @include flex(column, center, center);
    nav {
      text-align: center;
      .links-menu {
        margin-bottom: 4.8rem;
        li {
          &:not(:last-child) {
            margin-bottom: 4.8rem;
          }
          a {
            font-size: 2.4rem;
            font-weight: 700;
            color: $primary-blue-02;
          }
        }
      }
      .btn-secondary {
        font-size: 1.8rem;
      }
    }
    .socials {
      margin-top: 8rem;
      @include flex-total-center;
      gap: 3.2rem;
      li {
        a {
          i {
            font-size: 2.4rem;
            color: $primary-blue-02;
          }
        }
      }
    }
    &.active {
      pointer-events: all;
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
    }
  }
  @include responsive("tablet") {
    &.fixed {
      .container {
        .btn-menu {
          .btn-mobile-inner {
            color: $secondary-gray-04;
          }
        }
      }
    }
    .container {
      nav {
        display: none;
      }
      .btn-menu {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
