* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "DM Sans", sans-serif;
}

body,
html {
  font-size: 62.5%;
}

body {
  &::-webkit-scrollbar {
    width: 0.4rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-blue-02;
    border-radius: 0.4rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $secondary-gray-03;
    border-radius: 0.4rem;
  }
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: initial;
}

button {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.none {
  display: none;
}
